page-login {

.card-background-page 
{

    ion-card
    {
    position: relative;
    text-align: center;
    }
      
}
.myview{
    display: block;
    margin-left: auto;
}

.inputs 
{

border-radius: 20px !important;
text-decoration-color: #000000 !important;
background-color: #0e48106b   ;
height: 50px;
opacity:0.7;
width: 90% !important;
margin-left: 5%;
}

 
.ion-navbar
{
color: black;
background-color: #0e48106b ;
}



.ion-button
{

background-color: black;
color: #ffffff;
border-color: #ffffff;    
height: 5.6rem;
width: 60px
   
}

.hizabutton
{

width: 100% !important;
margin:auto;
display: block;
background-color: #0e48106b;
color: antiquewhite;
border-radius:20px;
border-color:#154e17;

}

.forgotpassword
{
color: #154e17;
text-align: center;
margin: auto;
display: block;
}

.forgettext
{
background-color: #154e17;
border-radius:20px;
height: 35px;   
}


.clickhere
{
    color: #000000;
}

.logosetting
{ 
margin-left: 30%;
opacity: 0.8;
}

.topcolor
{
    background-color: #0e48106b; 
}


}

